#ignore the scheduler files in the scripts directory
/scripts/*.csh 
/scripts/*.session.xml
/scripts/*.condor.log
/scripts/*.report
/scripts/*.list
/scripts/*.condor
/scripts/sched*.xml
/scripts/*.dataset
/scripts/*.package
/scripts/*.zip

#ignore the ~ files created by emacs
*~

#ignore cons output
.consign
.sl64_gcc482
