#ignore the scheduler files in the scripts directory
/scripts/*.csh 
/scripts/*.session.xml
/scripts/*.condor.log
/scripts/*.report
/scripts/*.list
/scripts/*.condor
/scritps/sched*.xml
/scripts/*.dataset
/scripts/*.package
/scripts/*.zip

#ignore the ~ files created by emacs
*~